/* applys to whole page  */
html {
    margin: 30px;
}
/* centers text in jumbotron */
.jumbotron h1, .heading-container, .card {
    text-align: center;
}

.heading-container h3 {
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 10px;
}

/* setting size for images */
.card img {
    height: 400px;
}
/* hides card group when page loads */
.card-group {
    display: none;
}